.card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* width: 290px; */
    width: 100%;
    min-height: 0;
    background: #fff;
    padding: 1em;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    transition: box-shadow .1s ease,transform .1s ease;
}

.card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
